<%= form_with(model: [:admin, subscription_plan]) do |form| %>
  <% if subscription_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subscription_plan.errors.count, "error") %> prohibited this subscription_plan from being saved:</h2>

      <ul>
        <% subscription_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :row_limit, class: 'form-label' %>
    <%= form.number_field :row_limit,  class: 'form-control', placeholder: 'Row Limit', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: 'form-label' %>
    <%= form.text_field :price,  class: 'form-control', placeholder: 'Price', required: true %>
  </div>
  <div class="form-check mb-3">
    <%= form.check_box :default, class: "form-check-input" %>
    <%= form.label :default, "Set as default plan", class: "form-check-label" %>
  </div>


  <div>
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
