<header id="header" class="header d-flex align-items-center fixed-top pt-0">
  <div class="container position-relative d-flex align-items-center justify-content-between menu-bg">

    <%= link_to root_path, class: 'logo d-flex align-items-center me-auto me-xl-0' do %>
      <%= image_tag 'light_mode_logo.png', id: 'site-logo', alt: "Site Logo" %>
    <% end %>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><%= link_to 'Home', root_path, class: 'active' %></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><%= link_to 'Forecast', forecast_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown"><a href="#"><span><%=current_user.full_name %></span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><%= link_to 'My Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Upgrade Plan', root_path(anchor: 'pricing') %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <!--    <button class="logout-button" id="toggle-dark-mode">Dark</button>-->

    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'btn-getstarted' %>
    <% end %>

  </div>
</header>
<%#= render partial: 'shared/flash_message' %>
