<div class="mt-3">
  <%= form_with url: update_chart_colors_user_path(current_user), method: :patch, local: false do %>
    <label>Green Periods:</label>
    <%= number_field_tag :green_periods, @green, min: 0, max: 36, id: 'green-periods' %>

    <label>Blue Periods:</label>
    <%= number_field_tag :blue_periods, @blue, min: 0, max: 36, id: 'blue-periods' %>

    <label>Red Periods:</label>
    <%= number_field_tag :red_periods, @red, min: 0, max: 36, id: 'red-periods' %>

    <%= submit_tag "Update Colors" %>
  <% end %>
</div>