<div class="col-md-10 main-content">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Access Control</h3>
    <div class="dropdown">
      <button class="btn btn-light rounded-circle">
        <i class="bi bi-person-circle fs-4"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search..." />
      </div>
      <div class="table-responsive bg-white border rounded">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Plan</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td><%= user.subscription_plan&.name %></td>
              <td>
                <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
